body {
    background-color: #070809;
    font-family: Arial, sans-serif;

}
h1 a{
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 2px green;
}

 .open{
    color: white !important;
 }
h1 {
    display: flex;
    position: absolute;
    bottom: 60%;
    left: 10%;
    font-weight: bold;
    color: white;
}

.nav-link,
.navbar-brand {
    background-color: #070809 !important;
    color: white !important;
    position: relative;
    top: -10px;
    left: 120px;
    font-size: 20px;
    transition: color 0.15s, text-decoration 0.15s;

}

.navbar-brand:visited {
    color: green !important;
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.navbar-brand:hover {
    color: green !important;
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.navbar-nav .nav-link:hover {
    color: green !important;
    position: relative;
}

.navbar-nav .nav-link:hover::after {
    content: '';
    position: absolute;
    left: 10px;
    bottom: 0;
    width: 30%;
    height: 2px;
    background-color: orange;
}




.ani-para {
    position: relative;
    margin-top: 250px;
    margin-left: 130px;
    font-size: 25px;
}

.word {
    color: green;

}


.text-animation {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    position: relative;
    overflow: hidden;
}

.text-animation span {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 2s ease-in-out forwards;
    animation-iteration-count: infinite;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.ficons{
   position: relative;
   margin-top: 0px !important;
   margin-left: 70px !important;
}
.ic {
    color: rgb(240, 244, 240);
    font-size: 20px;
    margin-right: 20px;
    transition: color 0.15s,transform 0.15s;
}
.ic:hover{
    color: green;
    transform: rotate(180deg);
    font-size: 30px;
}
